.inside-wrapper {
  background: url(../../assets/background.svg);
  background-size: 200%;
  width: 95vw;
  height: 95vh;
  border-radius: 20px;
  transform: rotate(180deg);
  position: relative;
  overflow: hidden;
}

@keyframes roll-side {
  from {
    background-size: 200%;
  }
  to {
    background-size: 100%;
  }
}

.roll-side {
  background: url(../../assets/background.svg);
  background-size: cover;
  width: 95vw;
  height: 95vh;
  border-radius: 20px;
  animation: roll-side 1.5s ease-in-out;
}

@keyframes scale-up {
  from {
    background-size: 100%;
  }
  to {
    background-size: 200%;
  }
}

.scale-up {
  background: url(../../assets/background.svg);
  background-size: cover;
  width: 95vw;
  height: 95vh;
  border-radius: 20px;
  animation: scale-up 1.5s ease-in-out;
  animation-fill-mode: forwards;
}
